$primary-color: black;

$primary-text-color: black;
$secondary-text-color: rgb(54, 54, 54);
$sub-text-color: rgb(97, 96, 96);

$primary-text-style: Arial, Helvetica, sans-serif;

$primary-text-size: 25px;
$secondary-text-size: 15px;
$sub-text-size: 10px;

@mixin flexCenter($direction: row) {
  flex-direction: $direction;
  display: flex;
  justify-content: center;
  align-items: center;
}
