.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  flex-direction: column;
  margin-top: 10vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 100vw;
}

.other {
  display: flex;
  justify-content: center;

  height: 40vh;
  width: 60%;
  background-color: white;
}

.image {
  height: 30vh;
  width: 50%;
}

.info {
  height: 30vh;
  width: 50%;
  background-color: red;
}

.users {
  height: 90vh;
  width: 30%;
  background-color: teal;
}

.title {
  color: #1a1c26;
  opacity: 0.6;
  font-size: 1.525rem;
  font-weight: 600;
  letter-spacing: -0.5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.image > p {
  color: #1a1c26;
  opacity: 0.9;
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: -0.5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.info img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.body {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40vh;
}
.msg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  display: flex;
  height: 40vh;
  flex-direction: column;
}

.posts {
  display: flex;
  width: 100%;
  height: 200px;
  overflow: scroll;
  flex-direction: column;
}
